* {
  /* background-color: black; */
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

p{
  text-align: center;
  font-size: 1.5rem;
  color:#000000


}
h1{
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

h2{
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

h3{
  font-size: 1.5rem;
  color: #9a9a9a;
  text-align: center;
}

.chart{
  padding-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
  max-height: auto;
}

.chart svg{
  background-color: #000000;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 1280px;
  color: #ffffff;
  font-size: 24px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #000000; 
  padding: 1rem;
  padding-right: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#outro {  
  max-width: 40rem;
  margin: auto;

  margin-bottom: 320px;
  margin-top: 320px;
  height: 640px;
}

#scrolly {
  position: relative;
  
  padding: 1rem;
}

#scrolly svg  {
  display: block;
  margin: auto;
  background-color: #000000;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background-color: #8a8a8a; */
  z-index: 0;
  height: 100vh;
  top: 0;
}

figure p {
  text-align: center;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 900;
  color: transparent;
  
}

.step {
  margin: 0 auto 2rem auto;
  color: #ffffff;
  height: 100vh;
}

.step.is-active p {
  opacity: 1;
  /* color: #ffffff; */
  
}

.step p {
  text-align: center;
  padding: 0.5rem;
  font-size: 25px;
  /* width: 400px; */
  background-color: rgb(255, 255, 255);
}


article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin-left: 20px;
}

.boton-imagen{
  padding-top: 3%;
  background: none;
  border: none;
  cursor: pointer;
}

.imagen-boton{
  width: 200px;
  height: 200px;
}

.centrar-botones{
  display: flex;
  justify-content: center;
}


.imagen-boton:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


footer{
  color: #ffffff;
  position: sticky; 
  width: 100%;
}

/* Plot */
g[aria-label="text"] text {
  font-weight: bold;
  font-size: 15px;
  color:#ffffff;
}

.tiny-text{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

